body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: burlywood;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: right;
}

.heading {
  text-align: left;
}

a {
  color: purple;
  text-decoration: none;
}

.active {
  color: yellow;
}

.answer {
  height: 60px;
  width: 200px;
  background-color: chocolate;
  color: white;
  line-height: 60px;
  text-align: center;
  margin-top: 10px;
  box-shadow: 5px 5px 5px grey;
}

.nav ul {
  display: flex;
  justify-content: center;
}

.nav ul li {
  list-style-type: none;
  width: 5rem;
}